.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-selectors {
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #757575;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a445ed;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
select {
  border: none;
  background-image: url("../../assets/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 2px center;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}
select:focus {
  outline: none;
}
.line {
  border: 1px solid #e0e0e0;
  height: 30px;
}
.moon-light {
  stroke: #838383;
}
.moon-dark {
  stroke: #a445ed;
}
img {
  height: auto;
}

@media (max-width: 768px) {
  select {
    font-size: 15px;
  }
}
