.container {
  padding: 20px 10%;
}
.dark-mode {
  background-color: #050505;
  color: #ffffff;
}

.mono {
  font-family: "inconsolata", monospace;
}
.serif {
  font-family: "Lora", serif;
}
.san-serif {
  font-family: "inter", sans-serif;
}
.dark-select {
  color: #ffffff;
  background-color: #050505;
}
.white-text {
  color: #ffffff;
}
